// @import "iconfont";
@import "cnfont";

$dark-green: #59E453;
$dark-green-border: #254D23;

body {
  width: 350px;
  height: 505px;
}

::-webkit-scrollbar {
  display: none;
}

.list-block {
  margin: 0;

  .layout-dark & {
    color: $dark-green;
  }

  ul {
    background-color: #EFEFF4;

    &:before, &:after {
      height: 0;
    }
  }
}

.view-left {
  float: left;
  width: 40px;
  border-right: 1px solid #b2b2b2;

  .layout-dark &{
    border-color: $dark-green-border;
  }
}

.view-main {
  width: -webkit-calc(100% - 40px);
  width: calc(100% - 40px);

  .main-title {
    font-weight: 200;
    font-size: 28px;
    color: #BFB4B4;

    .layout-dark & {
      color: #5F705F;
    }
  }

  .card-content img {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;

    &:hover {
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
      // -webkit-transition : -webkit-filter 500ms linear;
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
    }
  }

  .card-content-inner {
    padding: 8px 10px;
  }

  li.card{
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    max-height: 439px;

    a {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    a:visited{
      color: #5F5F5F;
      background-color: #EBEBEB;
    }

    &:hover {
      // box-shadow: -1px 10px 40px rgba(177, 177, 177, 0.38), 1px 10px 40px #4E4C4C;
      transform: rotateZ(0deg);
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
      z-index: 10;
    }
    
    img {
      max-height: 390px;
    }
  }

  .preloader {
    position: absolute;
    top: 200px;
    left: 135px;
    width: 30px;
    height: 30px;
  }
}

.left-nav {
  // width: 40px;
  // background: #f1f1f1;
  max-height: 466px;
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    padding: 4px 2px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    margin-bottom: 5px;

    :hover {
      cursor: pointer;
    }

    &.active {
      background-color: #ffffff !important;
      border-top: 1px solid #dddddd;
      border-bottom: 1px solid #dddddd;
      opacity: 1;
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
    }
    
    
    .layout-dark &.active {
      background-color: #04510D !important;
      border-top: 1px solid #04510D;
      border-bottom: 1px solid #04510D;
    }

    img {
      max-width: 100%;
      border-radius: 50%;
      width: 34px;
      height: 34px;

      .layout-dark & {
        -webkit-filter: invert(1);
        filter: invert(1);
      }
      .layout-dark &.active {
        -webkit-filter: invert(1);
        filter: invert(1);
      }

      &.active {
        box-shadow: 10px 10px 20px #67BE3E, 1px 10px 20px #C8C8C8;
      }

      &:first-child.active {
        border-top-color: #fff !important;
      }
    }
  }
}

.panel {
  background: #32394a;

  .title-block {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 44px;
    padding-left: 15px;
    line-height: 44px;
    font-size: 18px;
    color: #fff;
    border-bottom: 1px solid #848484;
    background: #33363D;
  }

  .content-block {
    margin-top: 0;
    color: #6d6d72;
    //position: relative;

    .commend-badge {
      position: absolute;
      bottom: 76px;
      left: 90px;

      .icon-commend {
        color: #B24242;
        font-size: 22px;
        left: 90px;
      }

      span {
        font-size: 14px;
        color: #949494;
        padding-left: 2px;
      }
    }

  }

  li .item-inner {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .button {
    color: #fff !important;
    border-color: #fff !important;
  }

  .panel-list {
    margin-top: 0;
    padding-left: 0;
    list-style: none;

    li {
      line-height: 60px;
      font-size: 16px;
      color: #fff;
      border-bottom: 1px solid #646464;

      a {
        color: #fff !important;
      }
    }
  }

  .fixed-bottom {
    position: absolute;
    bottom: 30px;
    width: 90%;
    width: calc(100% - 30px);
  }
}

.rotate-left {
  -webkit-transform: rotateX(-14deg);
  transform: rotate(-14deg);
  -webkit-transform-origin: 50%  51%;
  transform-origin: 50%  51%;
  border:1px solid transparent;
}

.rotate-right {
  -webkit-transform: rotateX(14deg);
  transform: rotate(14deg);
}

 .layout-dark i.icon.icon-bars {
   background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2021%2014'%3E%3Cpath%20fill%3D'%2359E453'%20d%3D'M0%2C0h2v2H0V0z%20M4%2C0h17v1H4V0z%20M0%2C6h2v2H0V6z%20M4%2C6h17v1H4V6z%20M0%2C12h2v2H0V12z%20M4%2C12h17v1H4V12z'%2F%3E%3C%2Fsvg%3E");
 }
 .layout-dark i.icon.icon-back {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2012%2020'%3E%3Cpath%20d%3D'M10%2C0l2%2C2l-8%2C8l8%2C8l-2%2C2L0%2C10L10%2C0z'%20fill%3D'%2359E453'%2F%3E%3C%2Fsvg%3E")
}

.layout-dark .navbar:after, .navbar.layout-dark:after, .layout-dark .subnavbar:after, .subnavbar.layout-dark:after {
  background-color: $dark-green-border;
}

.list-block .item-content {
  padding-left: 0px; 
  height: 34px;
  min-height: 34px;
}    

iframe {
  height: 100%;
  width: 100%;
  border-left: none;
  margin-top: 40px;
}

.toggle-sortable img {
  display: block;
  width: 34px;
  height: 34px;
  padding-left: 2px;  
  padding-top: 2px;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.list-block .sortable-handler {
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2018%2012'%20fill%3D'%23007aff'%3E%3Cpath%20d%3D'M0%2C2V0h22v2H0z'%2F%3E%3Cpath%20d%3D'M0%2C7V5h22v2H0z'%2F%3E%3Cpath%20d%3D'M0%2C12v-2h22v2H0z'%2F%3E%3C%2Fsvg%3E");
}

.w-800 {
  width: 800px;
}

i.gotop{
  position: fixed;
  bottom: 160px;
  right: 10px;
  font-size: 32px;
  z-index: 10;
  display: none;
  color:#3F90C9;
  background-image: url("../img/btn_go_top.png");
  background-repeat: no-repeat;
  background-size: 32px 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  
  &:hover {
    opacity: 1;
    cursor: pointer;
    transition: opacity .3s;
  }
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
::-webkit-scrollbar {
width: $size;
 height: $size;
 }
::-webkit-scrollbar-thumb {
background: $foreground-color;
 }
::-webkit-scrollbar-track {
background: $background-color;
 }
// For Internet Explorer
 body {
scrollbar-face-color: $foreground-color;
 scrollbar-track-color: $background-color;
 }
}

@include scrollbars(.3em, #AAAAAB, #F1F1F1);

.card img {
    position: relative;
    top: 0px;
    transition: transform .2s ease-in-out;
}
.card img:hover {
    transform: translate3d(0px, -3px, 0px);
}

.add-site input[type="url"]{
  height: 25px;
  border-radius: 3px;
}

.add-site .item-submit {
  width: 52px;
  vertical-align: middle;
  margin-top: 16px;
}