.navbar
  .navbar-inner
    .left
      a(href="#").back.link
        i.icon.icon-back
        //span Back
    .center.sliding 开发者博客
    .right
      a(href="#", data-panel="right").link.open-panel.icon-only
        i.icon.icon-bars
.pages
  .page(data-page="about")
    //- <iframe src="http://www.w3schools.com"></iframe>
    <iframe src="https://cyio.github.io"></iframe>