.navbar
  .navbar-inner
    .left
      a(href="#").back.link
        i.icon.icon-back
        //span Back
    .center.sliding about
    .right
      a(href="#", data-panel="right").link.open-panel.icon-only
        i.icon.icon-bars
.pages
  .page(data-page="about")