.navbar
  .navbar-inner
    .left
      a(href="popup.html").back.link
        i.icon.icon-back
        //span Back
    .center.sliding 开发者博客
    .right
      a(href="#", data-panel="right").link.open-panel.icon-only
        i.icon.icon-bars
.pages
  .page(data-page="about")
    //- <iframe src="http://www.w3schools.com"></iframe>
    //<iframe src="https://cyio.github.io"></iframe>
    <iframe id="ifr" src="http://music.163.com/outchain/player?type=0&amp;id=1622383&amp;auto=1&amp;height=450" frameborder="no" border="0" marginwidth="0" marginheight="0" width="100%" height="100%"></iframe>
